:root {
    --banner-color: #68ace5;   /* banner to highlight text */
    --button-color: #0b5b9d;   
    --button-text-color: white;
    --hover-color: #012d72;   /* color for mouse-over */
  }
  
  
  
